.w-100 {
    margin-top: 56px !important;
    height: calc(100vh - 56px) !important;
    object-fit: cover;
}

img {

    transition: all 500ms ease-in-out;

}

img:hover {
    transition: all 1000ms ease-in-out;


    opacity: 0.85;
    -webkit-transform: scale(1.15);
    /* Safari et Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* Internet Explorer 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);


}

.carousel-caption {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.65);
}